<!-- Booking page3 -->
<!-- Advanced Styling -->

<%- include("partials/header"); -%>
  <link rel="stylesheet" href="details.css">

  <section class="details">

    <div class="holder">
      <h3 class="title">Confirm your Booking</h3>
      <div class="container">
        <div class="set">
          <div class="box">
            <h4>Your Details</h4>
            <p><span>Name</span> : <%=docs.name %>
            </p>
            <p><span> Industry name</span> : <%=docs.profilename %>
            </p>
            <p><span>Your Email</span> : <%=docs.email %>
            </p>
            <p><span>Phone.no</span> : <%=docs.phone %>
            </p>
          </div>
          <div class="box">
            <h4>Booking Details</h4>
            <p><span>From </span> : <%= pickup %>
            </p>
            <p><span>To </span> : <%= drop %>
            </p>
            <p><span>Total Distance</span> : <%= km %> kms</p>
            <p><span>Weight</span> : <%= ton %> tonnes</p>
          </div>

        </div>
        <div class="set">
          <div class="box">
            <h4>Truck Details</h4>
            <p>
              <span>Truck Name </span> : <%= docs1.truckname %>
            </p>
            <p>
              <span>Truck No </span> : <%= docs1.truckno %>
            </p>
            <p>
              <span>Driver Name </span> : <%= docs1.drname %>
            </p>
            <p>
              <span>Driver Contact </span> : <%= docs1.drphone %>
            </p>
          </div>
          <div class="box">
            <h4>Bill Details</h4>
            <p><span>Price Type</span> : ₹<%= docs1.price %>
                <%= docs1.ptype %>
            </p>
            <p><span>Amount</span> : ₹<%= amount %>
            </p>
            <p><span>GST</span> : ₹<%= gst %>
            </p>
            <p><span>Total Amount</span> : ₹<%= totalamount %>
            </p>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div>
          <form action="/done" method="post">
            <button class="acc" type="submit">Confirm</button>
          </form>
        </div>
        <div>
          <button class="can" id="cancel-btn">Cancel</button>
        </div>
      </div>
    </div>
  </section>
  <script>
    const cancelBtn = document.getElementById('cancel-btn');
    cancelBtn.addEventListener('click', (event) => {
      event.preventDefault();
      window.history.back();
    });

  </script>

  <%- include("partials/footer"); -%>